#main__list__template {
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
}

.crypto__list__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
  font-size: 2rem;
}

.crypto__list__wrapper > div {
  margin-inline: 2rem 1rem;
}

.crypto__item {
  display: flex;
  align-items: center;
}

.list__template__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.display-chosen-crypto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.crypto-icon-main {
  display: flex;
  justify-content: center;
}

.crypto-icon-main > img {
  width: 100px;
}

.crypto__additional__info {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  height: 500px;
  width: 350px;
  padding: 10px 20px;
  border-radius: 5px;

  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup {
  width: 350px;
  position: relative;
  bottom: 600px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e94242;
  color: #333333;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.token-address {
  display: block;
  font-size: 0.8rem;
}
