.card {
  background-color: aliceblue;
  margin: 10px;
  padding: 10px;
  border: solid 3px black;
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ticker-catalogue-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ticker-catalogue-container > li > p {
  margin-top: 10px;
}

.error-message {
  text-align: center;
}
