#main__list__template {
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
}

.crypto__list__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
  font-size: 3rem;
}

.crypto__list__wrapper > div {
  margin-inline: 3rem 1rem;
}

.list__template__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


