#watchlist-wrapper h1 {
  display: flex;
  justify-content: center;
  color: #F27121;
  font-size: 2.5rem;
  
}

#watchlist-wrapper ul {
  color: white;
  font-size: 2rem;
}


.list-container {
display: flex;
flex-direction: column;
position: relative;
top: 60px;
}

.button-container {
display: flex;
justify-content: space-evenly;
margin: 5px;
border-radius: 5px;
}

.popup {
width: 350px;
position: absolute;
top: 250px;
left: 50%;
transform: translateX(-50%);
background-color: #ffffff;
color: #333333;
padding: 10px 20px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#saved-crypto-container {
  background-color: #202020;
  padding: 1em;
  margin: 10px;
  color: orange;
  font-size: 1rem;

}

#saved-crypto-container > li {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 5px;
  font-size: 1rem;
}

#saved-crypto-container > li > button {
  border: none;
  color: red;
  background: none;
}

#sortRankButton, #sortPriceButton, #sortNameButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#202020;
  padding: 0.25rem;
  border: white 1.5px solid;
  color:  #F27121;
  font-size: 1rem;
  border-radius: 0.25rem;

}

.sort-icon {
  height: 70%;
  margin-left: 1rem;
}


